body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #2a2520;
    position: relative;
}

.space {
    position: relative;
}

.sky {
    background-color: black;
}

.star1 {
    background-color: white;
    border-radius: 50px;
    position: absolute;
    bottom: 500px;
    right: 300px;
    border: 2px solid white;
}

.star2 {
    background-color: white;
    border-radius: 50px;
    position: absolute;
    left: 50px;
    border: 2px solid white;
}

.star3 {
    background-color: white;
    border-radius: 50px;
    position: absolute;
    right: 450px;
    bottom: 400px;
    border: 2px solid white;
}

.star4 {
    background-color: white;
    border-radius: 50px;
    position: absolute;
    left: 400px;
    bottom: 550px;
    border: 2px solid white;
}

.star5 {
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top: 30px;
    right: 300px;
    border: 2px solid white;
}

.star6 {
    background-color: white;
    border-radius: 50px;
    position: absolute;
    right: 550px;
    border: 2px solid white;
}

.star7 {
    background-color: white;
    border-radius: 50px;
    position: absolute;
    bottom: 450px;
    left: 250px;
    border: 2px solid white;
}

.star8 {
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top: 100px;
    left: 0px;
    border: 2px solid white;
}
.astronant {
    position: absolute;
    width: 60px;
    height: 100px;
    transform: translateX(-50%);
}

.helmet {
    position: absolute;
    bottom: -250%;
    left: -20%;
    width: 110px;
    height: 110px;
    background-color:  #e8dcce;
    border-radius: 50%;
    border-bottom: 3px solid black;
    z-index: 2;
}

.visor {
    position: absolute;
    left: 74%;
    bottom: -230%;
    width: 100px;
    height: 80px;
    background-color: black ;
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.astronant-body {
    position: absolute;
    bottom: -343px;
    width: 90px;
    height: 150px;
    background-color: #e8dcce;
    border-bottom: 2px solid black;
    z-index: 1;
}

.astronant-body::before {
    content: "";
    position: absolute;
    top: 25px;
    left: -40px;
    width: 20px;
    height: 120px;
    border-radius: 50%;
    transform: rotate(30deg);
    background-color: #e8dcce;
}

.astronant-body::after {
    content: "";
    position: absolute;
    top: 25px;
    right: -40px;
    width: 20px;
    height: 120px;
    border-radius: 50%;
    transform: rotate(-30deg);
    background-color: #e8dcce;
}

.leg-right::before {
    content: "";
    position: absolute;
    bottom: -55px;
    right: -1px;
    width: 50px;
    height: 90px;
    border-radius: 50%;
    border-top: 5px solid black;
}

.leg-left::before {
    content: "";
    position: absolute;
    bottom: -55px;
    left: -1px;
    width: 45px;
    height: 90px;
    border-radius: 50%;
    border-top: 5px solid black;
}

.line {
    position: absolute;
    bottom: 3px;
    left: 42px;
    width: 2px;
    height: 50px;
    transform: rotate(-90);
    transform-origin: bottom-center;
    border-radius: 4px;
    background-color: black;
}

.charset-lebal {
    position: absolute;
    bottom: 42%;
    right: 10%;
    transform: translateX(-50%);
    width: 20px;
    height: 15px;
    background-color: #e8dcce;
    border-radius: 3px;
    font-size: 3px;
    z-index: 2;
}

.ground {
    background-color: #e8dcce;
    width: 100vw;
    height: 80vh;
    position:absolute;
    bottom: -50%;
    left: -650px;
    border-radius: 50%;
}