body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
}

.logo {
    
}

.login-form {
    position: relative;
    left: -200px;
    background-color: white;
}

h1 {
    padding: 25px;
}

form {
    width: 550px;
    height: 500px;
    padding: 30px;
    border: 1px solid black;
    position: relative;
    left: 200px;
}

.credentials label{
    font-weight: 400;
    color: black;
}

.credentials input {
    width: 500px;
    height: 0px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.credentials .btn {
    font-size: large;
    border-radius: 5px;
    width: 550px;
    padding: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.credentials .google-btn {
    font-size: large;
    border-radius: 5px;
    width: 550px;
    padding: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.google-btn::before {
    content: 'G';
    font-weight: bolder;
    margin-right: 5px;
    padding: 5px;
}

.option {
    justify-items: center;
}

.option label {
    position: relative;
    right: -20px;
}

.option a {
    text-decoration: none;
    color: blue;
    position: relative;
    left: 255px;
}

.signup-btn {
    text-align: center;
}

.sonia-container {
    border: 10px solid #6a0dad;
    padding-left: 50px;
    padding-right: 550px;
    padding-top: 540px;
    position: relative;
    left: -1px;
    background-color: #6a0dad;
}

.sonia {
    display: flex;
    justify-content: center;
    align-items: center;
}

.computer {
    position: absolute;
    bottom: 85px;
    left: 55%;
    transform: translateX(-50%) skew(-8deg);
    width: 350px;
    height: 250px;
    background: #000;
    border-radius: 20px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.head {
    width: 80px;
    height: 80px;
    background: mistyrose;
    position: absolute;
    border-radius: 60% 80% 40% 90% / 60% 80% 40% 90%;
    transform: rotate(-130deg);
    top: 100px;
    left: 280px;
    z-index: 2;
}

.hair {
    position: absolute;
    top: -190px;
    left: 200px;
    width: 150px;
    height: 150px;
    border-radius: 40% 60% 60% 80% / 40% 60% 60% 80%;
    background: #000;
    transform: translate(50px, 260px) rotate(-50deg);
    z-index: 0;
}

.hair::before {
    content: '';
    position: absolute;
    background: #000;
    height: 100px;
    width: 50px;
    border-radius: 20px;
    transform: translate(-30px,20px) rotate(110deg);
}

.neck {
    height: 60px;
    width: 20px;
    background: mistyrose;
    position: absolute;
    left: 310px;
    top: 180px;
    z-index: 3;
}

.neck::after {
    content: '';
    position: absolute;
    height: 30px;
    width: 60px;
    background: mistyrose;
    border-radius: 50px 50px 0 0;
    left: -20px;
    top: 33px;
    transform: rotate(180deg);

}

.body {
    position: absolute;
    height: 235px;
    width: 150px;
    background: #6a0dad;
    top: 213px;
    right: 225px;
    z-index: 2;
    transform: skew(-8deg);
    border-radius: 10px;
}

.body::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 50px;
    background: blue;
    transform: translate(-50px, 3px);
    border-radius: 50% 0 0 88% / 50% 0 0 80%;
}

.body::after {
    content: '';
    position: absolute;
    height: 240px;
    width: 50px;
    background: #6a0dad;
    transform: translate(150px, -3px) rotate(175deg);
    border-radius: 50% 0 0 80% / 50% 0 0 88%;
}
